/* 
-----------------------------------
	ALERTS
-----------------------------------
*/

.alert {
	display: flex;
	width: 100%;
	border-radius: $border-radius-base;
	margin-bottom: 15px;
	
	&-icon {
		text-align: center;
		vertical-align: middle;
		@include border-left-radius($border-radius-base);
	}

	&-content {
		flex-grow: 1;
		@include border-right-radius($border-radius-base);

		&-title {
			font-size: 120%;
			margin: 0 0 2px 0;
		}

		*:last-child {
			margin-bottom: 0;
		}

	}

	&-btn-close {
		float: right;
		font-weight: bold;
		font-size: 120%;
	}
}