/* 
-----------------------------------
	TIME PICKER
-----------------------------------
*/

.uib-timepicker { 

	&-inline {
		margin-bottom: -6px;
		margin-top: -6px;
	}

	.form-control {
		width: 50px;
	}

	.am-pm {
		padding-left: 5px;
	}

	.uib-increment .btn {
		border-radius: 2px 2px 0 0;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 70%;
		margin-top: 5px;
		
	}

	.uib-decrement .btn {
		border-radius: 0 0 2px 2px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 70%;
		margin-bottom: 5px;
	}

}

