/*
-----------------------------------
	POLL
-----------------------------------
*/

.ui_poll {

	&-body {

	}

	&-choices {
		display: table;
		width: 100%;
	}

	&-choice {
		display: table-row;

		&-label {
			display: table-cell;
			vertical-align: top;
			padding: 5px 10px 5px 0;
			width: 1%;
			white-space: nowrap;
		}

		&-result {
			padding: 5px 0 5px 10px;

			&-details {
				padding: 5px 0;
				overflow-x: auto;
				white-space: nowrap;

				&-profile {
					white-space: nowrap;
					display: inline-block;
					vertical-align: top;
				}

				&-profile + &-profile {
					margin-left: 10px;
				}

			}
		}

		.radio, .checkbox, .progress {
			margin: 0;
		}
	}

	&-submit {
		display:flex;
		align-items:center;
		&-info {
			flex-grow:1;
		}
	}

	&-footer {
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px dashed darken($bluegrey-light, 3%);
	}

}
