<div class="panel panel-bordered ui_network-dashboard-item">
    <!-- <div class="media media-float">
        <div class="media-right" ng-if="article.pictures[0].content">
            <div class="media-thumbnail-cover" style="background-image:url({{ article.pictures[0].content }})"></div>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a class="media-title" target="_blank" href="<?= $this->url('item/item'); ?>/{{ article.id }}" ng-bind-html="article.label | wordBreak:20 "></a>
                <small class="media-details">
                    <span class="media-date" ng-if="article.startEndOn.dateString">{{ article.startEndOn.dateString }}</span>
                    <span class="media-location" ng-if="article.location">{{ item.location }}</span>
                </small>
            </h4>
            <div class="media-description" ng-bind-html="article.description"></div>
            <div class="media-footer">

                <dl class="media-includes">

                    <dt class="sr-only">this media includes :</dt>

                    <dd class="media-includes-item media-includes-comment" ng-class="{'is_zero':article.nbComments <= 0}" uib-tooltip-append-to-body="true" uib-tooltip="Topic has {{article.nbComments}} comments">
                        <span>
                            <span class="badge-number">{{article.nbComments}}</span>
                            <i class="badge-icon fa fa-comment"></i>
                        </span>
                    </dd>

                    <dd class="media-includes-item media-includes-endorsement" ng-class="{'is_zero':article.nbEndorsements <= 0}" uib-tooltip-append-to-body="true" uib-tooltip="Topic has {{article.nbEndorsements}} endorsements">
                        <span>
                            <span class="badge-number">{{article.nbEndorsements}}</span>
                            <i class="badge-icon fa fa-star"></i>
                        </span>
                    </dd>

                    <dd class="media-includes-item media-includes-subscription" ng-class="{'is_zero':article.nbSubscriptions <= 0}" uib-tooltip-append-to-body="true" uib-tooltip="Topic has {{article.nbSubscriptions}} subscriptions">
                        <span>
                            <span class="badge-number">{{article.nbSubscriptions}}</span>
                            <i class="badge-icon fa fa-bell"></i>
                        </span>
                    </dd>

                </dl>

            </div>
        </div>
    </div> -->
</div>
